@EmKa Akademi

- Evrensel kısaltmaları kullanarak numpy ve pandas kütüphanelerini import ediniz.

1) İndexlerinde "Breaking Bad" , "Chernobyl" , "Leyla ile Mecnun" , "X-Men"  , "Captain America"  , "Disaster Movie" olan 
   Datasında 9.4 , 9.3 , 8.8 , 8.4 , 3.8 , 2.1 olan bir seri oluşturun.(2 Farklı yolla da oluşturun) (Datayı ve İndexleri liste olarak göndererek ve doğrudan dictionary göndererek.)


2) donem1_mat adında bir seri oluşturun. Bu serinin içinde "Ali" ,"Deniz" ,"Aslı" ,"Burak" ,"Kerem" ,"Yasemin" ,"Derya" index değerleri olsun, 
   85, 80 , 94 , 74 , 91 , 96 , 70 data değerleri olsun. Bu şekilde donem1 adında öğrencilerin 1.dönem matematik nor ortalamalarının tutulduğu bir seri oluşturun.

   donem2_mat adında başka bir seri oluşturun. Okula yeni bir öğrenci gelmiş olsun ve indexlerde bu sefer "Ali" ,"Deniz" ,"Aslı" ,"Burak" ,"Kerem" ,"Yasemin" ,"Derya" ,"Mert"         indexleri olsun. 80, 92 , 85 , 87, 90 , 92, 100, 83 ise dataları olsun. Bu iki seriyi birleştirerek bütün öğrencilerin yıl sonu matematik ORTALAMASINI hesaplayın.

   Not : Eğer bir öğrencinin sadece ikinci dönem notu bulunuyorsa, birinci dönem hesaba eklenmeden ikinci dönem notu yıl sonu notu olarak hesaplansın.


3) İndexlerinde "Osman", "Ozlem", "İnci", "Koray", "Melek" olan, columnlarında "Sınıf" , "Cinsiyet" , "Favori Ders" isimlerinde 3 column bulunan bir DF oluşturacaksınız. Osman'ın sınıfı 8 , cinsiyeti "E" , Favori Dersi "Fen"
Ozlem'in sınıfı 11 , cinsiyeti "K" , Favori Dersi "Mat"
İnci'nin sınıfı 5 , cinsiyeti "K" , Favori Dersi "Sosyal"
Koray'ın sınıfı 9 , cinsiyeti "E" , Favori Dersi "Mat"
Meleğin sınıfı 7 , cinsiyeti "K" , Favori Dersi "Ing"          Olacak şekilde bir df oluşturun.

4) GitHubda bulunan "Advertising.csv" reklam datasını herhangi bir platformda DF olarak okuyun ve "df_adv" adında bir değişkene atayın. Ardından df_adv değişkeninin ilk 3 satırına, son 3 satırına , rastgele 3 satırına bakın.

5) Elde ettiğiniz "df_adv" infosuna ve describe'ına bakın ve yorumlamaya çalışın.

6) df_adv içinden sadece "TV" sütununu seri olarak çekin.

7) df_adv içinden "TV" ve "sales" sütununu çekin ve df_salesTV adında bir değişkene atayın.

8) df_adv içindeki "TV" , "radio" , "newspaper" sütunlarındaki değerleri toplayarak "total_adv" adında yeni bir sütun oluşturun.

9) df_adv içindeki "sales" sütununun drop edilmiş halini ekrana yazdırın. (Kalıcı hale getirmeyin. Sadece ekrana bastırın)

10) df_adv içindeki son 50 index'i(satırı) çekin ve ekrana yazdırın.

11) df_adv içinde satışları 25'den fazla olanları getirin.

12) df_adv içinde "TV" reklamlarına 250'den fazla VE "newspaper" reklamlarına 60'dan fazla harcama yapanları getirin.

13) df_adv içinde "newspaper" reklam harcamaları 70'den fazla VEYA "radio" reklam harcamaları 50'den fazla olanları getirin.

14) df_adv içinde "sales" ları 10 ile 15(10 ve 15 dahil) arasında olanları getirin.

15) df_adv içinde "sales" ları tam olarak 18.3 veya 14.0 veya 25.5 veya 21.7 veya 13.6 veya 6.9 olanları getirin.

16) GitHubda bulunan "tips.csv" restoran datasını "df_tips" adıyla okuyun. Ardından ilk 5 satırına bakın.

17) df_tips'in "CC Number" ve "Payment ID" column'larını kalıcı olarak düşürün.

18) df_tips'in "Payer Name" column'unu kalıcı olarak index yapın ve artık columndan düşürün.

19) df_tips içindeki kayıtlardan kişi sayısı 4 veya 4'den fazla olan siparişlerin kaç tane olduğunu bulun.(Sorguyu yazıp istediğimiz satırları getirdikten sonra basitçe len() fonksiyonunu kullanarak sayılarını bulabilirsiniz. Veya daha güzeli .shape[0] yaparak elde ettiğiniz sorguda kaç satır olduğunun sayısına ulaşabilirsiniz.)

20) df_tips içindeki Kişi sayısı 2 ya da 3 olan, sigara içen, erkek olan ve ödediği ücret 20 dolardan az olan kişi sayısını bulalım.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Q-1 
# 1) İndexlerinde "Breaking Bad" , "Chernobyl" , "Leyla ile Mecnun" , "X-Men"  , "Captain America"  , "Disaster Movie" olan 
#   Datasında 9.4 , 9.3 , 8.8 , 8.4 , 3.8 , 2.1 olan bir seri oluşturun.(2 Farklı yolla da oluşturun) (Datayı ve İndexleri liste olarak göndererek ve 
# doğrudan dictionary göndererek.)

# 1. Yol
# indexler

movie_series = pd.Series(index=["Breaking Bad", "Chernobyl", "Leyla ile Mecnun", "X-Men", "Captain America", "Disaster Movie"], data=[9.4, 9.3, 8.8, 8.4, 3.8, 2.1])
print("1. Yol", movie_series)

# 2. Yol
# dictionary
movie_series_2 = pd.Series({
    "Breaking Bad": 9.4,
    "Chernobyl": 9.3, 
    "Leyla ile Mecnun": 8.8,
    "X-Men": 8.4, 
    "Captain America": 3.8, 
    "Disaster Movie": 2.1
    })

print("2. Yol", movie_series_2)

1. Yol Breaking Bad        9.4
Chernobyl           9.3
Leyla ile Mecnun    8.8
X-Men               8.4
Captain America     3.8
Disaster Movie      2.1
dtype: float64
2. Yol Breaking Bad        9.4
Chernobyl           9.3
Leyla ile Mecnun    8.8
X-Men               8.4
Captain America     3.8
Disaster Movie      2.1
dtype: float64

In [3]:
# Q-2
# 2) donem1_mat adında bir seri oluşturun. Bu serinin içinde "Ali" ,"Deniz" ,"Aslı" ,"Burak" ,"Kerem" ,"Yasemin" ,"Derya" index değerleri olsun, 
#   85, 80 , 94 , 74 , 91 , 96 , 70 data değerleri olsun. Bu şekilde donem1 adında öğrencilerin 1.dönem matematik nor ortalamalarının tutulduğu bir seri oluşturun.
#   donem2_mat adında başka bir seri oluşturun. Okula yeni bir öğrenci gelmiş olsun ve indexlerde bu sefer "Ali" ,"Deniz" ,"Aslı" ,"Burak" ,"Kerem" ,"Yasemin" ,"Derya" ,"Mert" indexleri olsun. 
#   80, 92 , 85 , 87, 90 , 92, 100, 83 ise dataları olsun. 
#  Bu iki seriyi birleştirerek bütün öğrencilerin yıl sonu matematik ORTALAMASINI hesaplayın.
#  Not : Eğer bir öğrencinin sadece ikinci dönem notu bulunuyorsa, birinci dönem hesaba eklenmeden ikinci dönem notu yıl sonu notu olarak hesaplansın.

donem1_mat = pd.Series(index=["Ali", "Deniz", "Aslı", "Burak", "Kerem", "Yasemin", "Derya"], data=[85, 80, 94, 74, 91, 96, 70])
donem2_mat = pd.Series(index=["Ali", "Deniz", "Aslı", "Burak", "Kerem", "Yasemin", "Derya", "Mert"], data=[80, 92, 85, 87, 90, 92, 100, 83])
merged_series = pd.concat([donem1_mat, donem2_mat], axis=1)
ort = merged_series.mean(axis=1)
print("Ortalama notlar: \n", ort)

Ortalama notlar:
 Ali        82.5
Deniz      86.0
Aslı       89.5
Burak      80.5
Kerem      90.5
Yasemin    94.0
Derya      85.0
Mert       83.0
dtype: float64

In [4]:
# Q-3
# İndexlerinde "Osman", "Ozlem", "İnci", "Koray", "Melek" olan, columnlarında "Sınıf" , "Cinsiyet" , "Favori Ders" isimlerinde 3 column bulunan bir DF oluşturacaksınız. 
# Osman'ın sınıfı 8 , cinsiyeti "E" , Favori Dersi "Fen"
# Ozlem'in sınıfı 11 , cinsiyeti "K" , Favori Dersi "Mat"
# İnci'nin sınıfı 5 , cinsiyeti "K" , Favori Dersi "Sosyal"
# Koray'ın sınıfı 9 , cinsiyeti "E" , Favori Dersi "Mat"
# Meleğin sınıfı 7 , cinsiyeti "K" , Favori Dersi "Ing"          Olacak şekilde bir df oluşturun.

DF = pd.DataFrame(index=["Osman", "Ozlem", "İnci", "Koray", "Melek"], columns=["Sınıf", "Cinsiyet", "Favori Ders"])
DF.loc["Osman"] = [8, "E", "Fen"]
DF.loc["Ozlem"] = [11, "K", "Mat"]
DF.loc["İnci"] = [5, "K", "Sosyal"]
DF.loc["Koray"] = [9, "E", "Mat"]
DF.loc["Melek"] = [7, "K", "Ing"]
print(DF)

      Sınıf Cinsiyet Favori Ders
Osman     8        E         Fen
Ozlem    11        K         Mat
İnci      5        K      Sosyal
Koray     9        E         Mat
Melek     7        K         Ing

In [5]:
# Q-4
# 4) GitHubda bulunan "Advertising.csv" reklam datasını herhangi bir platformda DF olarak okuyun ve "df_adv" adında bir değişkene atayın.
#  Ardından df_adv değişkeninin ilk 3 satırına, son 3 satırına , rastgele 3 satırına bakın.

df_adv = pd.read_csv("./Advertising.csv")
print("İlk 3 satır: \n", df_adv.head(3))
print("Son 3 satır: \n", df_adv.tail(3))
print("Rastgele 3 satır: \n", df_adv.sample(3))

İlk 3 satır:
       TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
Son 3 satır:
         TV  radio  newspaper  sales
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4
Rastgele 3 satır:
         TV  radio  newspaper  sales
27   240.1   16.7       22.9   15.9
104  238.2   34.3        5.3   20.7
46    89.7    9.9       35.7   10.6

In [6]:
# Q-5
# 5) Elde ettiğiniz "df_adv" infosuna ve describe'ına bakın ve yorumlamaya çalışın.

print("İnfo: \n", df_adv.info())
print("Describe: \n", df_adv.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   radio      200 non-null    float64
 2   newspaper  200 non-null    float64
 3   sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB
İnfo:
 None
Describe:
                TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [7]:
# Q-6
# 6) df_adv içinden sadece "TV" sütununu seri olarak çekin.

print("TV sütunu: \n", df_adv["TV"])

TV sütunu:
 0      230.1
1       44.5
2       17.2
3      151.5
4      180.8
       ...
195     38.2
196     94.2
197    177.0
198    283.6
199    232.1
Name: TV, Length: 200, dtype: float64

In [8]:
# Q-7
# 7) df_adv içinden "TV" ve "sales" sütununu çekin ve df_salesTV adında bir değişkene atayın.

df_salesTV = df_adv[["TV", "sales"]]
print("TV ve sales sütunları: \n", df_salesTV)

TV ve sales sütunları:
         TV  sales
0    230.1   22.1
1     44.5   10.4
2     17.2    9.3
3    151.5   18.5
4    180.8   12.9
..     ...    ...
195   38.2    7.6
196   94.2    9.7
197  177.0   12.8
198  283.6   25.5
199  232.1   13.4

[200 rows x 2 columns]

In [9]:
# Q-8
# 8) df_adv içindeki "TV" , "radio" , "newspaper" sütunlarındaki değerleri toplayarak "total_adv" adında yeni bir sütun oluşturun.

df_adv["total_adv"] = df_adv["TV"] + df_adv["radio"] + df_adv["newspaper"]
print("total_adv sütunu: \n", df_adv["total_adv"])

total_adv sütunu:
 0      337.1
1      128.9
2      132.4
3      251.3
4      250.0
       ...
195     55.7
196    107.2
197    192.7
198    391.8
199    249.4
Name: total_adv, Length: 200, dtype: float64

In [10]:
# Q-9
# 9) df_adv içindeki "sales" sütununun drop edilmiş halini ekrana yazdırın. (Kalıcı hale getirmeyin. Sadece ekrana bastırın)

print("sales sütunu drop edilmiş hali: \n", df_adv.drop("sales", axis=1))

sales sütunu drop edilmiş hali:
         TV  radio  newspaper  total_adv
0    230.1   37.8       69.2      337.1
1     44.5   39.3       45.1      128.9
2     17.2   45.9       69.3      132.4
3    151.5   41.3       58.5      251.3
4    180.8   10.8       58.4      250.0
..     ...    ...        ...        ...
195   38.2    3.7       13.8       55.7
196   94.2    4.9        8.1      107.2
197  177.0    9.3        6.4      192.7
198  283.6   42.0       66.2      391.8
199  232.1    8.6        8.7      249.4

[200 rows x 4 columns]

In [11]:
# Q-10
# 10) df_adv içindeki son 50 index'i(satırı) çekin ve ekrana yazdırın.

print("Son 50 index: \n", df_adv.tail(50))

Son 50 index:
         TV  radio  newspaper  sales  total_adv
150  280.7   13.9       37.0   16.1      331.6
151  121.0    8.4       48.7   11.6      178.1
152  197.6   23.3       14.2   16.6      235.1
153  171.3   39.7       37.7   19.0      248.7
154  187.8   21.1        9.5   15.6      218.4
155    4.1   11.6        5.7    3.2       21.4
156   93.9   43.5       50.5   15.3      187.9
157  149.8    1.3       24.3   10.1      175.4
158   11.7   36.9       45.2    7.3       93.8
159  131.7   18.4       34.6   12.9      184.7
160  172.5   18.1       30.7   14.4      221.3
161   85.7   35.8       49.3   13.3      170.8
162  188.4   18.1       25.6   14.9      232.1
163  163.5   36.8        7.4   18.0      207.7
164  117.2   14.7        5.4   11.9      137.3
165  234.5    3.4       84.8   11.9      322.7
166   17.9   37.6       21.6    8.0       77.1
167  206.8    5.2       19.4   12.2      231.4
168  215.4   23.6       57.6   17.1      296.6
169  284.3   10.6        6.4   15.0      301.3
170   50.0   11.6       18.4    8.4       80.0
171  164.5   20.9       47.4   14.5      232.8
172   19.6   20.1       17.0    7.6       56.7
173  168.4    7.1       12.8   11.7      188.3
174  222.4    3.4       13.1   11.5      238.9
175  276.9   48.9       41.8   27.0      367.6
176  248.4   30.2       20.3   20.2      298.9
177  170.2    7.8       35.2   11.7      213.2
178  276.7    2.3       23.7   11.8      302.7
179  165.6   10.0       17.6   12.6      193.2
180  156.6    2.6        8.3   10.5      167.5
181  218.5    5.4       27.4   12.2      251.3
182   56.2    5.7       29.7    8.7       91.6
183  287.6   43.0       71.8   26.2      402.4
184  253.8   21.3       30.0   17.6      305.1
185  205.0   45.1       19.6   22.6      269.7
186  139.5    2.1       26.6   10.3      168.2
187  191.1   28.7       18.2   17.3      238.0
188  286.0   13.9        3.7   15.9      303.6
189   18.7   12.1       23.4    6.7       54.2
190   39.5   41.1        5.8   10.8       86.4
191   75.5   10.8        6.0    9.9       92.3
192   17.2    4.1       31.6    5.9       52.9
193  166.8   42.0        3.6   19.6      212.4
194  149.7   35.6        6.0   17.3      191.3
195   38.2    3.7       13.8    7.6       55.7
196   94.2    4.9        8.1    9.7      107.2
197  177.0    9.3        6.4   12.8      192.7
198  283.6   42.0       66.2   25.5      391.8
199  232.1    8.6        8.7   13.4      249.4

In [12]:
# Q-11
# 11) df_adv içinde satışları 25'den fazla olanları getirin.

print("25'den fazla satış: \n", df_adv[df_adv["sales"] > 25])

25'den fazla satış:
         TV  radio  newspaper  sales  total_adv
36   266.9   43.8        5.0   25.4      315.7
98   289.7   42.3       51.2   25.4      383.2
147  243.2   49.0       44.3   25.4      336.5
175  276.9   48.9       41.8   27.0      367.6
183  287.6   43.0       71.8   26.2      402.4
198  283.6   42.0       66.2   25.5      391.8

In [13]:
# Q-12
# 12) df_adv içinde "TV" reklamlarına 250'den fazla VE "newspaper" reklamlarına 60'dan fazla harcama yapanları getirin.

print("250'den fazla TV ve 60'dan fazla newspaper harcaması: \n", df_adv[(df_adv["TV"] > 250) & (df_adv["newspaper"] > 60)])

250'den fazla TV ve 60'dan fazla newspaper harcaması:
         TV  radio  newspaper  sales  total_adv
93   250.9   36.5       72.3   22.2      359.7
101  296.4   36.3      100.9   23.8      433.6
183  287.6   43.0       71.8   26.2      402.4
198  283.6   42.0       66.2   25.5      391.8

In [14]:
# Q-13
# 13) df_adv içinde "newspaper" reklam harcamaları 70'den fazla VEYA "radio" reklam harcamaları 50'den fazla olanları getirin.

print("70'den fazla newspaper ve 50'den fazla radio harcaması: \n", df_adv[(df_adv["newspaper"] > 70) | (df_adv["radio"] > 50)])

70'den fazla newspaper ve 50'den fazla radio harcaması:
         TV  radio  newspaper  sales  total_adv
5      8.7   48.9       75.0    7.2      132.6
16    67.8   36.6      114.0   12.5      218.4
75    16.9   43.7       89.4    8.7      150.0
88    88.3   25.5       73.4   12.9      187.2
93   250.9   36.5       72.3   22.2      359.7
101  296.4   36.3      100.9   23.8      433.6
118  125.7   36.9       79.2   15.9      241.8
124  229.5   32.3       74.2   19.7      336.0
141  193.7   35.4       75.6   19.2      304.7
165  234.5    3.4       84.8   11.9      322.7
183  287.6   43.0       71.8   26.2      402.4

In [15]:
# Q-14
# 14) df_adv içinde "sales" ları 10 ile 15(10 ve 15 dahil) arasında olanları getirin.

print("10 ile 15 arasında satış: \n", df_adv[(df_adv["sales"] >= 10) & (df_adv["sales"] <= 15)])

10 ile 15 arasında satış:
         TV  radio  newspaper  sales  total_adv
1     44.5   39.3       45.1   10.4      128.9
4    180.8   10.8       58.4   12.9      250.0
6     57.5   32.8       23.5   11.8      113.8
7    120.2   19.6       11.6   13.2      151.4
9    199.8    2.6       21.2   10.6      223.6
..     ...    ...        ...    ...        ...
181  218.5    5.4       27.4   12.2      251.3
186  139.5    2.1       26.6   10.3      168.2
190   39.5   41.1        5.8   10.8       86.4
197  177.0    9.3        6.4   12.8      192.7
199  232.1    8.6        8.7   13.4      249.4

[80 rows x 5 columns]

In [16]:
# Q-15
# 15) df_adv içinde "sales" ları tam olarak 18.3 veya 14.0 veya 25.5 veya 21.7 veya 13.6 veya 6.9 olanları getirin.

print("18.3, 14.0, 25.5, 21.7, 13.6, 6.9 satış: \n", df_adv[df_adv["sales"].isin([18.3, 14.0, 25.5, 21.7, 13.6, 6.9])])

18.3, 14.0, 25.5, 21.7, 13.6, 6.9 satış:
         TV  radio  newspaper  sales  total_adv
63   102.7   29.6        8.4   14.0      140.7
70   199.1   30.6       38.7   18.3      268.4
76    27.5    1.6       20.7    6.9       49.8
83    68.4   44.5       35.6   13.6      148.5
84   213.5   43.0       33.8   21.7      290.3
198  283.6   42.0       66.2   25.5      391.8

In [17]:
# Q-16
# 16) GitHubda bulunan "tips.csv" restoran datasını "df_tips" adıyla okuyun. Ardından ilk 5 satırına bakın.

df_tips = pd.read_csv("./tips.csv")
print("İlk 5 satır: \n", df_tips.head())

İlk 5 satır:
    total_bill   tip     sex smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name         CC Number Payment ID
0  Christy Cunningham  3560325168603410    Sun2959
1      Douglas Tucker  4478071379779230    Sun4608
2      Travis Walters  6011812112971322    Sun4458
3    Nathaniel Harris  4676137647685994    Sun5260
4        Tonya Carter  4832732618637221    Sun2251

In [18]:
# Q-17
# 17) df_tips'in "CC Number" ve "Payment ID" column'larını kalıcı olarak düşürün.

df_tips.drop(["CC Number", "Payment ID"], axis=1, inplace=True)

In [19]:
# Q-18
# 18) df_tips'in "Payer Name" column'unu kalıcı olarak index yapın ve artık columndan düşürün.

df_tips.set_index("Payer Name", inplace=True, drop=True)
df_tips.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person
Payer Name,,,,,,,,
Christy Cunningham,16.99,1.01,Female,No,Sun,Dinner,2,8.49
Douglas Tucker,10.34,1.66,Male,No,Sun,Dinner,3,3.45
Travis Walters,21.01,3.50,Male,No,Sun,Dinner,3,7.00
Nathaniel Harris,23.68,3.31,Male,No,Sun,Dinner,2,11.84
Tonya Carter,24.59,3.61,Female,No,Sun,Dinner,4,6.15

In [20]:
# Q-19
# 19) df_tips içindeki kayıtlardan kişi sayısı 4 veya 4'den fazla olan siparişlerin kaç tane olduğunu bulun.
# (Sorguyu yazıp istediğimiz satırları getirdikten sonra basitçe len() fonksiyonunu kullanarak sayılarını bulabilirsiniz. 
# Veya daha güzeli .shape[0] yaparak elde ettiğiniz sorguda kaç satır olduğunun sayısına ulaşabilirsiniz.)

print("4 veya 4'den fazla kişi sayısı: \n", df_tips[df_tips["size"] >= 4].shape[0])

4 veya 4'den fazla kişi sayısı:
 46

In [28]:
# Q-20
# 20) df_tips içindeki Kişi sayısı 2 ya da 3 olan, sigara içen, erkek olan ve ödediği ücret 20 dolardan az olan kişi sayısını bulalım.

print(df_tips[((df_tips["size"]==2) | (df_tips["size"]==3)) & (df_tips["smoker"] == "Yes") & (df_tips["sex"] == "Male") & (df_tips["total_bill"] < 20)].shape[0])

27